@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-bg-color: #11111b;
  --color-card: #1e1e2e;
  --color-button: #313244;
  --color-text-color: #cdd6f4;
  --color-text-secondary-color: #a6adc8;
  --color-accent-color: #f38ba8;
  --color-accent-color-2: #b4befe;
  --color-accent-color-3: #f9e2af;
  --color-accent-color-4: #a6e3a1;
}

.dot-bg {
  background-color: #11111b;
  background-size: 32px 32px;
  background-image: radial-gradient(circle, #313244 1.5px, transparent 1.5px);
}

.dot-bg_glow {
  position: fixed;
  inset: 0;

  background-size: 32px 32px;
  background-image: radial-gradient(circle, #9399b2 1.5px, transparent 1.5px);
  background-position: 0 calc(-1 * var(--scroll-y, 0px));
  -webkit-mask-image: radial-gradient(circle 150px at var(--mx) var(--my), black 0%, transparent 100%);
  mask-image: radial-gradient(circle 150px at var(--mx) var(--my), black 0%, transparent 100%);
}
